{% extends 'banner.html.twig' %}
{% block content %}
    <div id="page-content-div">

        <label for="return note">Please click 'Home' to return to the login page</label>
        <p class="curr_page"><a href="{{ landing_page }}">Home</a></p>
    </div>
{% endblock %}