{% extends 'banner.html.twig' %}
{% block content %}
    <div id="page-content-div">
        <h3>{{ page_heading_2 }}</h3>
        {% if(message != false) %}
            <p>{{ message }}</p>
        {% else %}
            <br>
        {% endif %}
    </div>
{% endblock %}